<header>
  <div
    class="header-left"
    unselectable="on"
    onmousedown="return false;"
    onselectstart="return false;"
  >
    <img src="/assets/img/logo.png" alt="VindE Logo" class="logo" />
    <h1>VindE</h1>
  </div>
  <nav class="header-nav">
    <a href="/" data-page="home" class="hover-target"
      ><i class="fas fa-home"></i> Home</a
    >
    <a href="/projects" data-page="projects" class="hover-target"
      ><i class="fas fa-box-open"></i> Projects</a
    >
  </nav>
  <button id="theme-toggle" aria-label="Toggle theme">
    <i class="fas fa-moon fa-fw"></i>
  </button>
</header>
